@import "../reset.css";

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.95);
  color: darkgray;
  font-weight: 300;
  line-height: 150%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
main h1 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

nav {
  border-bottom: 0.1px solid gold;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  color: gold;
  gap: 1rem;
  padding: 1.5rem;
}

nav h1 {
  padding-left: 5rem;
}
nav h1:hover {
  cursor: pointer;
  opacity: 80%;
}

.img-wrapper {
  border: 1px solid gold;
  border-radius: 100%;
  border-image-slice: 100;
}

.table-wrapper {
  border: 1px solid rgba(255, 217, 0, 0.45);
  border-radius: 0.5rem;
  padding: 2rem;
}

tr {
  border-bottom: 1px solid rgba(255, 217, 0, 0.45);
}

td {
  padding: 0.5rem;
}

td:first-child {
  font-weight: 700;
  color: white;
}
td:nth-child(2) {
  text-align: right;
}
