.body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.95);
  color: darkgray;
  font-weight: 100;
  line-height: 150%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.95);
  color: darkgray;
  font-weight: 100;
  line-height: 150%;
}

.item img {
  width: 4rem;
  height: 4rem;
}

.nav {
  border-bottom: 0.1px solid gold;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  color: gold;
  gap: 1rem;
  padding: 1.5rem;
}

.nav h1 {
  padding-left: 5rem;
}
nav h1:hover {
  cursor: pointer;
  opacity: 80%;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: stretch;
  justify-items: stretch;
  margin: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  gap: 2rem;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  border: 1px solid rgba(255, 217, 0, 0.4);
  border-radius: 0.5rem;
  cursor: pointer;
}

.item:hover {
  border: 1px solid gold;
  transition: all 0.2s ease-in-out;
}

.item h2 {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

@media (max-width: 48rem) {
  .container {
    grid-template-columns: 1fr;
  }
}
